Checks: "clang-diagnostic-*,\
clang-analyzer-*,\
cppcoreguidelines-*,\
modernize-*,\
bugprone-*,\
performance-*,\
readability-*,\
misc-const-correctness,\
misc-use-internal-linkage,\
misc-static-assert,\
misc-redundant-expression,\
misc-misleading-identifier,\
misc-definitions-in-headers,\
-clang-diagnostic-unknown-warning-option,\
-clang-analyzer-cplusplus.NewDeleteLeaks,\
-clang-analyzer-cplusplus.NewDelete,\
-modernize-use-trailing-return-type,\
-modernize-use-nodiscard,\
-modernize-pass-by-value,\
-modernize-avoid-c-arrays,\
-modernize-use-designated-initializers,\
-cppcoreguidelines-non-private-member-variables-in-classes,\
-cppcoreguidelines-avoid-c-arrays,\
-cppcoreguidelines-avoid-magic-numbers,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
-cppcoreguidelines-pro-type-reinterpret-cast,\
-cppcoreguidelines-special-member-functions,\
-cppcoreguidelines-pro-type-union-access,\
-cppcoreguidelines-pro-bounds-pointer-arithmetic,\
-cppcoreguidelines-pro-type-static-cast-downcast,\
-cppcoreguidelines-pro-type-const-cast,\
-cppcoreguidelines-owning-memory,\
-cppcoreguidelines-avoid-const-or-ref-data-members,\
-cppcoreguidelines-rvalue-reference-param-not-moved,\
-cppcoreguidelines-pro-bounds-constant-array-index,\
-bugprone-easily-swappable-parameters,\
-bugprone-reserved-identifier,\
-bugprone-multi-level-implicit-pointer-conversion,\
-bugprone-crtp-constructor-accessibility,\
-readability-redundant-member-init,\
-readability-implicit-bool-conversion,\
-readability-magic-numbers,\
-readability-identifier-length,\
-readability-else-after-return,\
-readability-named-parameter,\
-readability-function-cognitive-complexity,\
-readability-uppercase-literal-suffix,\
-readability-avoid-const-params-in-decls,\
-readability-convert-member-functions-to-static,\
-readability-isolate-declaration,\
-readability-qualified-auto,\
-readability-redundant-declaration,\
-readability-use-anyofallof,\
-performance-noexcept-move-constructor,\
-performance-move-const-arg"

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'

CheckOptions:
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
  - key: modernize-use-override.IgnoreDestructors
    value: true
  - key: cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value: true
  - key: readability-identifier-length.IgnoredVariableNames
    value: true
  - key: readability-identifier-length.IgnoredExceptionVariableNames
    value: true
  - key: readability-identifier-length.IgnoredParameterNames
    value: true
  - key: readability-identifier-length.IgnoredLoopCounters
    value: true
FormatStyle: none
