[submodule "lib/immer"]
	path = lib/immer
	url = https://github.com/arximboldi/immer.git
[submodule "lib/doctest"]
	path = lib/doctest
	url = https://github.com/doctest/doctest
[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "lib/folly"]
	path = lib/folly
	url = https://github.com/facebook/folly.git
