test.jank
jank-generated.hpp
.jank-repl-history
a.out
.jank-native-repl-history
.jank-repl-history

# Vim files
/.ycm_extra_conf.py*
/.lsp

# lein
target
classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.hgignore
.hg/
.clj-kondo
.nrepl-port

# C++
.ccls-cache
.gdb_history
.cache
.cpcache
inst
deb-cache
build
compiler+runtime/build-*
coverage.txt
vcpkg_installed
.idea/
.vs/
.vscode/
cmake-build-*/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json

# Rust
rust/jank

# secrets
.github_access_token

# node
node_modules

# CI thingies
/llvm.sh
/linux-install.sh
