test.jank
jank-generated.hpp
a.out

# Vim files
/.ycm_extra_conf.py*
/.lsp

# lein
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.hgignore
.hg/
.clj-kondo

# C++
.ccls-cache
.gdb_history
.cache
.cpcache
inst
deb-cache
/build
/build-*
coverage.txt
/vcpkg_installed
.idea/
.vs/
.vscode/
cmake-build-*/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json


# Rust
rust/jank
