[submodule "compiler+runtime/third-party/folly"]
	path = compiler+runtime/third-party/folly
	url = https://github.com/jank-lang/folly.git
[submodule "compiler+runtime/third-party/bpptree"]
	path = compiler+runtime/third-party/bpptree
	url = https://github.com/jank-lang/BppTree.git
[submodule "compiler+runtime/third-party/immer"]
	path = compiler+runtime/third-party/immer
	url = https://github.com/jank-lang/immer.git
[submodule "compiler+runtime/third-party/cli11"]
	path = compiler+runtime/third-party/cli11
	url = https://github.com/jank-lang/CLI11.git
[submodule "compiler+runtime/third-party/libzippp"]
	path = compiler+runtime/third-party/libzippp
	url = https://github.com/jank-lang/libzippp.git
[submodule "compiler+runtime/third-party/boost-preprocessor"]
	path = compiler+runtime/third-party/boost-preprocessor
	url = https://github.com/jank-lang/boost-preprocessor.git
[submodule "compiler+runtime/third-party/ftxui"]
	path = compiler+runtime/third-party/ftxui
	url = https://github.com/jank-lang/FTXUI.git
[submodule "compiler+runtime/test/bash/clojure-test-suite/clojure-test-suite"]
	path = compiler+runtime/test/bash/clojure-test-suite/clojure-test-suite
	url = https://github.com/jank-lang/clojure-test-suite
[submodule "compiler+runtime/third-party/cpptrace"]
	path = compiler+runtime/third-party/cpptrace
	url = https://github.com/jank-lang/cpptrace
[submodule "compiler+runtime/third-party/boost-multiprecision"]
	path = compiler+runtime/third-party/boost-multiprecision
	url = https://github.com/jank-lang/boost-multiprecision.git
