{:tasks
 {build
  (do (shell "cmake -Bbuild -DCMAKE_BUILD_TYPE=Release")
      (shell "cmake --build build"))

  repl
  {:override-builtin true
   :depends          [build]
   :task             (apply shell "./build/jank-wrapper" "repl" *command-line-args*)}

  server
  {:depends [build]
   :task    (apply shell "./build/jank-wrapper" "run-main" "nrepl-server.core" *command-line-args*)}}}
