{:tasks
 {build
  (shell "cmake --workflow --preset release")

  repl
  {:override-builtin true
   :depends          [build]
   :task             (apply shell "./build/jank-wrapper" "repl" *command-line-args*)}

  server
  {:depends [build]
   :task    (apply shell "./build/jank-wrapper" "run-main" "nrepl-server.core" *command-line-args*)}}}
