{:paths ["src"]
 :deps {io.github.jank-lang/clojure-test {:git/url "https://github.com/frenchy64/clojure-test.git"
                                          :git/sha "c8548a3c9f31d5ae24c7a5b0632a0bd892d59510"}}}
