name: "Lint"

on:
  pull_request:
  push:

jobs:
  lint:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - name: Install apt packages
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: shellcheck
          # Update this whenever the package list changes.
          version: 2022.10.16--22.13.50
      - name: Lint bash scripts
        working-directory: ${{ github.workspace }}/compiler+runtime
        run: ./bin/ci/lint
      - name: Run clang-format on compiler+runtime/include/cpp
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: 16
          check-path: compiler+runtime/include/cpp
      - name: Run clang-format on compiler+runtime/src/cpp
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: 16
          check-path: compiler+runtime/src/cpp
      - name: Run clang-format on compiler+runtime/test/cpp
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: 16
          check-path: compiler+runtime/test/cpp
